.side-bar-contents
  .side-bar-contents__top
    %h3.side-bar-contents__user-name
      = current_user.name
    %ul.side-bar-contents__setting
      .side-bar-contents__setting-icon
        %i
          = link_to do
            = icon('fas', 'pen-square', class: 'pen')
        %i
          =link_to edit_user_path(current_user) do
            =icon('fas','cog', class:'setting')
      %li.list
  .side-bar-contents__second
    .side-bar-contents__group-name
      test1
    .side-bar-contents__text
      まだメッセージはありません。