.side-bar-contents
  .side-bar-contents__top
    .side-bar-contents__user-name
      syouya
    .side-bar-contents__setting
      .side-bar-contents__setting-icon
        %i.fas.fa-cog
        %i.fa.fa-edit
  .side-bar-contents__second
    .side-bar-contents__group-name
      test1
    .side-bar-contents__text
      まだメッセージはありません。