
.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          %a{:href => "/users/7950/edit"}
            %i.fa.fa-cog
  .groups
    %a{:href => "/groups/11527/messages"}
    - current_user.groups.each do |group|
      .group
        %p.group__group-name 
          = link_to group_messages_path(group) do
            =group.name
        %p.group__latest-message 
          = group.show_last_message
