.side_bar_contents
  .side_bar_contents_top
    .side_bar_contents_user_name
      syouya
    .side_bar_contents_setting
      .side_bar_contents_setting_icon
        %i.fas.fa-cog
        %i.fa.fa-edit
  .side_bar_contents_second
    .side_bar_contents_group_name
      test1
    .side_bar_contents_text
      まだメッセージはありません。