.main-chat{
  width: calc(100vw-30);
  height: 100vh;
}

.main-header{
  height: 100px;
  display: flex;
  border-bottom: solid 1px #eee;
  
  
  &__left{
    padding-top: 15px;
  }
  
  &__left__group-name{
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
  }

  &__left__group-member{
    display: flex;
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
    margin-left: 20px;
  }
}

.main-header__edit{
  height: 30px;
  width: 40px;
  padding: 6px 5px 5px 10px;
  margin-top: 30px;
  border: solid 1px #38aef0;
  position: absolute;
  right: 40px;
  color: skyblue;
  display: block;

  a, a:hover, a:visited {
    color: #38aef0;
    text-decoration: none;
  }
}


.messages{
  height: calc(100vh - 181px);
  padding: 46px 40px;
  background-color: white;
  overflow: scroll;
}

.messages-parts{
  font-size: 16px;
  background-color: white;
  width: 1160px;
  height: 850px;
  position: relative;
  overflow: scroll;
  &__data{
    display: flex;
  }
    &__user-name{
      font-weight: bold;
      color: #434a54;
      margin-top: 46px;
      margin-left: 40px;
    }
    
    &__day-time{
      font-size: 12px;
      color: #746d6d;
      margin-top: 50px;
      padding-left: 10px;
    }
  &__messages{
    margin-top: 10px;
    font-size: 14px;
    color: #434a54;
    margin-left: 40px;
  }
}

.send-form{
    position: relative;
    font-size: 16px;
    color: #434a54;
    height: 90px;
    margin-top: 0px;
    margin-left: 300px;
    background-color: #ddd;
    
  }
    
.new_message{
  display: flex;
}
    
.input-form{
  height: 50px;
  width: calc( 100vw - 500px);
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 20px;
}
      
.input-box__image{
  position: absolute;
  right: 130px;
  top: 5px;
  madia screen{ #file{display:none;}}
  background-image: url('fas fa-image');
  margin-right: 50px;
  margin-left: 1250px;
  margin-top: 22px;
  color: skyblue;
  width: 20px;
  height: 15px;
  
}

.form__mask__image{
  font-size: 30px;
  color: black;
  position: relative;
  margin-bottom: 10px;
}

.hiden{
  display: none;
  position: relative;
  text-align: right;
}


.send-button{
  color: white;
  background-color: #38aef0;
  
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1px;
  margin-left: 1400px;
  margin-top: 20px;
  font-size: 20px;
  position: absolute;
  right: 40px;
  
}

.fa-image{
  display: inline-block;

}

// a {
//   color: skyblue;
// }