.side_bar_contents{
  width: 300px;
  height: 990px;
}

.side_bar_contents_top{
  width: 300px;
  height: 10%;
  background-color: #253141;
  display: flex;
}

.side_bar_contents_user_name{
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  padding-top: 30px;//アイコンの時も同じ値にする 
  padding-right: 20px;
  padding-left: 20px;
}

.side_bar_contents_setting{
  display: flex;
  margin-left: 130px;

}

.side_bar_contents_setting_icon{
  color: white;
}

.side_bar_contents_setting_icon_edit{
  margin-right: 20px;

  width: 10px;
}

.fas{
  font-size: 20px;
  margin-right: px;
  margin-bottom: 10px;
}

.fa{
  font-size: 20px;

}

.side_bar_contents_second{
  width: 100%;
  height: 90%;
  background-color: #2f3e51;
  padding-top: 20px;
}

.side_bar_contents_group_name{
  font-size: 15px;
  color: #ffff;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
}

.side_bar_contents_text{
  font-size: 11px;
  font-weight: bold;
  color: #ffff;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}