.chat-side {
  width: 300px;
  height: calc( 100vh - 50px);
  color: white;
  float: left;
}

.side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;

    &__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      margin-top: 30px;
      color: white;
    }

    &__box__user-name{
      display: block;
      font-size: 30px;
      margin-bottom: 30px;
      color: white;
    }

    &__box__menu{
      list-style-type: none;
      display: flex;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      
    }

    &__box__menu_new-group{
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    &__box__menu__edit-user{
      margin: 0;
      padding: 0;
      font-size: 13px;
      display: flex;
    }
}

.fa-edit{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.fa-cog{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.groups{
  height: 100vh;
  background-color: #2f3e51;
  padding-left: 20px;  
}

.group{
  margin-bottom: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  display: block;
  
  &__group-name{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__latest-message{
    font-size: 11px;
    display: block;
  }
}


a:-webkit-any-link{
  color: rgb(114, 180, 224);
}



